@override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Tugas Flutter',
      title: 'Tugas Rahadian Dewi Sarasnasifka',
      theme: ThemeData(
        // This is the theme of your application.
        //
        // is not restarted.
        primarySwatch: Colors.blue,
      ),
      home: const MyHomePage(title: 'Tugas Flutter Home Page'),
      home: const MyHomePage(title: 'Tugas Rahadian Dewi Sarasnasifka'),
    );
  }
}
